.icon_header img{
    margin-top: 5px;
    padding: 5px;
    width: 13%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: -60px;
}

.image {
    flex-basis: 40%;
    padding-left: 100px;
}

.text-content {
    align-content: right;
    padding-right: 100px;
    padding-bottom: 10px;
}

.text-content h2{
    position: relative;
    top: 0%;
    width: 80%;
    text-align: left; 
    overflow: hidden;
    margin-top: 25px;
    font-family: 'fantasy;', chalkduster; 
    font-size: 7vw;
    color: rgb(99, 150, 119);
}

.text-content p{
    position: relative;
    top: 0%;
    width: 80%;
    text-align: left; 
    overflow: hidden;
    margin-top: 25px;
    font-family: 'fantasy;', chalkduster; 
    font-size: 2vw;
    color: rgb(255, 255, 255);
}